<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:name=".HiltApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme"
        android:enableOnBackInvokedCallback="true"
        tools:targetApi="34"
        >
        <activity
            android:name=".AppActivity"
            android:exported="true"
            android:localeConfig="@xml/locales_config"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <!--  file provider: https://developer.android.com/reference/androidx/core/content/FileProvider      -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.panwar2001.pdfpro.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
        </provider>
<!--service locales************************************************************-->
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
        <meta-data
            android:name="autoStoreLocales"
            android:value="true" />
        </service>
<!-- *******Google ads ******************************************************************-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9471515798383572~1026627627" />

    </application>

</manifest>